<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Monday VS Code Extension</title>
</head>

<body>
	Authenticated Successfully! 🤙 </br>
	<button onclick="backToWorkspace()">Back to workspace</button>
	<script>
		function backToWorkspace() {
			window.location.href = "vscode://file/${projectUrl}"
			window.close();
		};
	</script>
</body>

</html>